@import "../../../../app/style/base";

.autocomplete {
  position: relative;
  display: inline-block;
  height: $mp-control-height;
  font-size: $mp-font-size;

  & .autocomplete_input {
    border: $mp-line-width $mp-line-type $mp-color-border;
    background: $mp-select-selector-bg;
    padding: $mp-padding-sm;
    border-radius: $mp-border-radius;
  }

  & .autocompleteItems {
    position: absolute;
    z-index: $mp-z-index-base;
    top: 140%;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: $mp-color-bg-elevated;
    border-radius: $mp-border-radius;
    box-shadow: $mp-box-shadow-secondary;
    transition: all $mp-motion-duration-mid $mp-motion-ease-in-out;

    & div {
      padding: $mp-padding-sm;
      cursor: pointer;
      transition: all $mp-motion-duration-mid $mp-motion-ease-in-out;

      &:hover {
        background-color: #e9e9e9;
      }
    }
  }
}
