@import "sub/color";
@import "sub/typography_variable";
@import "sub/function";
@import "sub/mixin";
@import "sub/variables";

$mp-button-font-weight: 400;
$mp-button-default-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
$mp-button-primary-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
$mp-button-danger-shadow: 0 2px 0 rgba(255, 38, 5, 0.06);
$mp-button-primary-color: #fff;
$mp-button-danger-color: #fff;
$mp-button-border-color-disabled: #d9d9d9;
$mp-button-default-ghost-color: #ffffff;
$mp-button-ghost-bg: transparent;
$mp-button-default-ghost-border-color: #ffffff;
$mp-button-padding-inline: 15px;
$mp-button-padding-inline-lg: 15px;
$mp-button-padding-inline-sm: 7px;
$mp-button-only-icon-size: 16px;
$mp-button-only-icon-size-sm: 14px;
$mp-button-only-icon-size-lg: 18px;
$mp-button-group-border-color: #4096ff;
$mp-button-link-hover-bg: transparent;
$mp-button-text-hover-bg: rgba(0, 0, 0, 0.06);
$mp-button-default-color: rgba(0, 0, 0, 0.88);
$mp-button-default-bg: #ffffff;
$mp-button-default-border-color: #d9d9d9;
$mp-button-default-border-color-disabled: #d9d9d9;
$mp-button-default-hover-bg: #ffffff;
$mp-button-default-hover-color: #4096ff;
$mp-button-default-hover-border-color: #4096ff;
$mp-button-default-active-bg: #ffffff;
$mp-button-default-active-color: #0958d9;
$mp-button-default-active-border-color: #0958d9;
$mp-button-content-font-size: 14px;
$mp-button-content-font-size-sm: 14px;
$mp-button-content-font-size-lg: 16px;
$mp-button-content-line-height: 1.5714285714285714;
$mp-button-content-line-height-sm: 1.5714285714285714;
$mp-button-content-line-height-lg: 1.5;
$mp-button-padding-block: 4px;
$mp-button-padding-block-sm: 0px;
$mp-button-padding-block-lg: 7px;
$mp-border-radius: 6px;
$mp-line-width: 1px;
$mp-line-type: solid;
$mp-motion-duration-mid: 0.2s;
$mp-motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$mp-color-text: rgba(0, 0, 0, 0.88);

$mp-blue: #1677ff;
$mp-purple: #722ed1;
$mp-cyan: #13c2c2;
$mp-green: #52c41a;
$mp-magenta: #eb2f96;
$mp-pink: #eb2f96;
$mp-red: #f5222d;
$mp-orange: #fa8c16;
$mp-yellow: #fadb14;
$mp-volcano: #fa541c;
$mp-geekblue: #2f54eb;
$mp-gold: #faad14;
$mp-lime: #a0d911;
$mp-color-primary: #1677ff;
$mp-color-success: #52c41a;
$mp-color-warning: #faad14;
$mp-color-error: #ff4d4f;
$mp-color-info: #1677ff;
$mp-color-link: #1677ff;
$mp-color-text-base: #000;
$mp-color-bg-base: #fff;
$mp-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$mp-font-family-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo,
  Courier, monospace;
$mp-font-size: 14px;
$mp-line-width: 1px;
$mp-line-type: solid;
$mp-motion-ease-out-circ: cubic-bezier(0.08, 0.82, 0.17, 1);
$mp-motion-ease-in-out-circ: cubic-bezier(0.78, 0.14, 0.15, 0.86);
$mp-motion-ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
$mp-motion-ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
$mp-motion-ease-out-back: cubic-bezier(0.12, 0.4, 0.29, 1.46);
$mp-motion-ease-in-back: cubic-bezier(0.71, -0.46, 0.88, 0.6);
$mp-motion-ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$mp-motion-ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$mp-border-radius: 6px;
$mp-size-popup-arrow: 16px;
$mp-control-height: 32px;
$mp-z-index-base: 0;
$mp-z-index-popup-base: 1000;
$mp-opacity-image: 1px;
$mp-blue-1: #e6f4ff;
$mp-blue-2: #bae0ff;
$mp-blue-3: #91caff;
$mp-blue-4: #69b1ff;
$mp-blue-5: #4096ff;
$mp-blue-6: #1677ff;
$mp-blue-7: #0958d9;
$mp-blue-8: #003eb3;
$mp-blue-9: #002c8c;
$mp-blue-10: #001d66;
$mp-purple-1: #f9f0ff;
$mp-purple-2: #efdbff;
$mp-purple-3: #d3adf7;
$mp-purple-4: #b37feb;
$mp-purple-5: #9254de;
$mp-purple-6: #722ed1;
$mp-purple-7: #531dab;
$mp-purple-8: #391085;
$mp-purple-9: #22075e;
$mp-purple-10: #120338;
$mp-cyan-1: #e6fffb;
$mp-cyan-2: #b5f5ec;
$mp-cyan-3: #87e8de;
$mp-cyan-4: #5cdbd3;
$mp-cyan-5: #36cfc9;
$mp-cyan-6: #13c2c2;
$mp-cyan-7: #08979c;
$mp-cyan-8: #006d75;
$mp-cyan-9: #00474f;
$mp-cyan-10: #002329;
$mp-green-1: #f6ffed;
$mp-green-2: #d9f7be;
$mp-green-3: #b7eb8f;
$mp-green-4: #95de64;
$mp-green-5: #73d13d;
$mp-green-6: #52c41a;
$mp-green-7: #389e0d;
$mp-green-8: #237804;
$mp-green-9: #135200;
$mp-green-10: #092b00;
$mp-magenta-1: #fff0f6;
$mp-magenta-2: #ffd6e7;
$mp-magenta-3: #ffadd2;
$mp-magenta-4: #ff85c0;
$mp-magenta-5: #f759ab;
$mp-magenta-6: #eb2f96;
$mp-magenta-7: #c41d7f;
$mp-magenta-8: #9e1068;
$mp-magenta-9: #780650;
$mp-magenta-10: #520339;
$mp-pink-1: #fff0f6;
$mp-pink-2: #ffd6e7;
$mp-pink-3: #ffadd2;
$mp-pink-4: #ff85c0;
$mp-pink-5: #f759ab;
$mp-pink-6: #eb2f96;
$mp-pink-7: #c41d7f;
$mp-pink-8: #9e1068;
$mp-pink-9: #780650;
$mp-pink-10: #520339;
$mp-red-1: #fff1f0;
$mp-red-2: #ffccc7;
$mp-red-3: #ffa39e;
$mp-red-4: #ff7875;
$mp-red-5: #ff4d4f;
$mp-red-6: #f5222d;
$mp-red-7: #cf1322;
$mp-red-8: #a8071a;
$mp-red-9: #820014;
$mp-red-10: #5c0011;
$mp-orange-1: #fff7e6;
$mp-orange-2: #ffe7ba;
$mp-orange-3: #ffd591;
$mp-orange-4: #ffc069;
$mp-orange-5: #ffa940;
$mp-orange-6: #fa8c16;
$mp-orange-7: #d46b08;
$mp-orange-8: #ad4e00;
$mp-orange-9: #873800;
$mp-orange-10: #612500;
$mp-yellow-1: #feffe6;
$mp-yellow-2: #ffffb8;
$mp-yellow-3: #fffb8f;
$mp-yellow-4: #fff566;
$mp-yellow-5: #ffec3d;
$mp-yellow-6: #fadb14;
$mp-yellow-7: #d4b106;
$mp-yellow-8: #ad8b00;
$mp-yellow-9: #876800;
$mp-yellow-10: #614700;
$mp-volcano-1: #fff2e8;
$mp-volcano-2: #ffd8bf;
$mp-volcano-3: #ffbb96;
$mp-volcano-4: #ff9c6e;
$mp-volcano-5: #ff7a45;
$mp-volcano-6: #fa541c;
$mp-volcano-7: #d4380d;
$mp-volcano-8: #ad2102;
$mp-volcano-9: #871400;
$mp-volcano-10: #610b00;
$mp-geekblue-1: #f0f5ff;
$mp-geekblue-2: #d6e4ff;
$mp-geekblue-3: #adc6ff;
$mp-geekblue-4: #85a5ff;
$mp-geekblue-5: #597ef7;
$mp-geekblue-6: #2f54eb;
$mp-geekblue-7: #1d39c4;
$mp-geekblue-8: #10239e;
$mp-geekblue-9: #061178;
$mp-geekblue-10: #030852;
$mp-gold-1: #fffbe6;
$mp-gold-2: #fff1b8;
$mp-gold-3: #ffe58f;
$mp-gold-4: #ffd666;
$mp-gold-5: #ffc53d;
$mp-gold-6: #faad14;
$mp-gold-7: #d48806;
$mp-gold-8: #ad6800;
$mp-gold-9: #874d00;
$mp-gold-10: #613400;
$mp-lime-1: #fcffe6;
$mp-lime-2: #f4ffb8;
$mp-lime-3: #eaff8f;
$mp-lime-4: #d3f261;
$mp-lime-5: #bae637;
$mp-lime-6: #a0d911;
$mp-lime-7: #7cb305;
$mp-lime-8: #5b8c00;
$mp-lime-9: #3f6600;
$mp-lime-10: #254000;
$mp-color-text: rgba(0, 0, 0, 0.88);
$mp-color-text-secondary: rgba(0, 0, 0, 0.65);
$mp-color-text-tertiary: rgba(0, 0, 0, 0.45);
$mp-color-text-quaternary: rgba(0, 0, 0, 0.25);
$mp-color-fill: rgba(0, 0, 0, 0.15);
$mp-color-fill-secondary: rgba(0, 0, 0, 0.06);
$mp-color-fill-tertiary: rgba(0, 0, 0, 0.04);
$mp-color-fill-quaternary: rgba(0, 0, 0, 0.02);
$mp-color-bg-layout: #f5f5f5;
$mp-color-bg-container: #ffffff;
$mp-color-bg-elevated: #ffffff;
$mp-color-bg-spotlight: rgba(0, 0, 0, 0.85);
$mp-color-bg-blur: transparent;
$mp-color-border: #d9d9d9;
$mp-color-border-secondary: #f0f0f0;
$mp-color-primary-bg: #e6f4ff;
$mp-color-primary-bg-hover: #bae0ff;
$mp-color-primary-border: #91caff;
$mp-color-primary-border-hover: #69b1ff;
$mp-color-primary-hover: #4096ff;
$mp-color-primary-active: #0958d9;
$mp-color-primary-text-hover: #4096ff;
$mp-color-primary-text: #1677ff;
$mp-color-primary-text-active: #0958d9;
$mp-color-success-bg: #f6ffed;
$mp-color-success-bg-hover: #d9f7be;
$mp-color-success-border: #b7eb8f;
$mp-color-success-border-hover: #95de64;
$mp-color-success-hover: #95de64;
$mp-color-success-active: #389e0d;
$mp-color-success-text-hover: #73d13d;
$mp-color-success-text: #52c41a;
$mp-color-success-text-active: #389e0d;
$mp-color-error-bg: #fff2f0;
$mp-color-error-bg-hover: #fff1f0;
$mp-color-error-border: #ffccc7;
$mp-color-error-border-hover: #ffa39e;
$mp-color-error-hover: #ff7875;
$mp-color-error-active: #d9363e;
$mp-color-error-text-hover: #ff7875;
$mp-color-error-text: #ff4d4f;
$mp-color-error-text-active: #d9363e;
$mp-color-warning-bg: #fffbe6;
$mp-color-warning-bg-hover: #fff1b8;
$mp-color-warning-border: #ffe58f;
$mp-color-warning-border-hover: #ffd666;
$mp-color-warning-hover: #ffd666;
$mp-color-warning-active: #d48806;
$mp-color-warning-text-hover: #ffc53d;
$mp-color-warning-text: #faad14;
$mp-color-warning-text-active: #d48806;
$mp-color-info-bg: #e6f4ff;
$mp-color-info-bg-hover: #bae0ff;
$mp-color-info-border: #91caff;
$mp-color-info-border-hover: #69b1ff;
$mp-color-info-hover: #69b1ff;
$mp-color-info-active: #0958d9;
$mp-color-info-text-hover: #4096ff;
$mp-color-info-text: #1677ff;
$mp-color-info-text-active: #0958d9;
$mp-color-link-hover: #69b1ff;
$mp-color-link-active: #0958d9;
$mp-color-bg-mask: rgba(0, 0, 0, 0.45);
$mp-color-white: #fff;
$mp-font-size-sm: 12px;
$mp-font-size-lg: 16px;
$mp-font-size-xl: 20px;
$mp-font-size-heading-1: 38px;
$mp-font-size-heading-2: 30px;
$mp-font-size-heading-3: 24px;
$mp-font-size-heading-4: 20px;
$mp-font-size-heading-5: 16px;
$mp-line-height: 1.5714285714285714;
$mp-line-height-lg: 1.5;
$mp-line-height-sm: 1.6666666666666667;
$mp-font-height: 22px;
$mp-font-height-lg: 24px;
$mp-font-height-sm: 20px;
$mp-line-height-heading-1: 1.2105263157894737;
$mp-line-height-heading-2: 1.2666666666666666;
$mp-line-height-heading-3: 1.3333333333333333;
$mp-line-height-heading-4: 1.4;
$mp-line-height-heading-5: 1.5;
$mp-control-height-sm: 24px;
$mp-control-height-xs: 16px;
$mp-control-height-lg: 40px;
$mp-motion-duration-fast: 0.1s;
$mp-motion-duration-mid: 0.2s;
$mp-motion-duration-slow: 0.3s;
$mp-line-width-bold: 2px;
$mp-border-radius-xs: 2px;
$mp-border-radius-sm: 4px;
$mp-border-radius-lg: 8px;
$mp-border-radius-outer: 4px;
$mp-color-fill-content: rgba(0, 0, 0, 0.06);
$mp-color-fill-content-hover: rgba(0, 0, 0, 0.15);
$mp-color-fill-alter: rgba(0, 0, 0, 0.02);
$mp-color-bg-container-disabled: rgba(0, 0, 0, 0.04);
$mp-color-border-bg: #ffffff;
$mp-color-split: rgba(5, 5, 5, 0.06);
$mp-color-text-placeholder: rgba(0, 0, 0, 0.25);
$mp-color-text-disabled: rgba(0, 0, 0, 0.25);
$mp-color-text-heading: rgba(0, 0, 0, 0.88);
$mp-color-text-label: rgba(0, 0, 0, 0.65);
$mp-color-text-description: rgba(0, 0, 0, 0.45);
$mp-color-text-light-solid: #fff;
$mp-color-highlight: #ff4d4f;
$mp-color-bg-text-hover: rgba(0, 0, 0, 0.06);
$mp-color-bg-text-active: rgba(0, 0, 0, 0.15);
$mp-color-icon: rgba(0, 0, 0, 0.45);
$mp-color-icon-hover: rgba(0, 0, 0, 0.88);
$mp-color-error-outline: rgba(255, 38, 5, 0.06);
$mp-color-warning-outline: rgba(255, 215, 5, 0.1);
$mp-font-size-icon: 12px;
$mp-line-width-focus: 4px;
$mp-control-outline-width: 2px;
$mp-control-interactive-size: 16px;
$mp-control-item-bg-hover: rgba(0, 0, 0, 0.04);
$mp-control-item-bg-active: #e6f4ff;
$mp-control-item-bg-active-hover: #bae0ff;
$mp-control-item-bg-active-disabled: rgba(0, 0, 0, 0.15);
$mp-control-tmp-outline: rgba(0, 0, 0, 0.02);
$mp-control-outline: rgba(5, 145, 255, 0.1);
$mp-font-weight-strong: 600;
$mp-opacity-loading: 0.65;
$mp-link-decoration: none;
$mp-link-hover-decoration: none;
$mp-link-focus-decoration: none;
$mp-control-padding-horizontal: 12px;
$mp-control-padding-horizontal-sm: 8px;
$mp-padding-xxs: 4px;
$mp-padding-xs: 8px;
$mp-padding-sm: 12px;
$mp-padding: 16px;
$mp-padding-md: 20px;
$mp-padding-lg: 24px;
$mp-padding-xl: 32px;
$mp-padding-content-horizontal-lg: 24px;
$mp-padding-content-vertical-lg: 16px;
$mp-padding-content-horizontal: 16px;
$mp-padding-content-vertical: 12px;
$mp-padding-content-horizontal-sm: 16px;
$mp-padding-content-vertical-sm: 8px;
$mp-margin-xxs: 4px;
$mp-margin-xs: 8px;
$mp-margin-sm: 12px;
$mp-margin: 16px;
$mp-margin-md: 20px;
$mp-margin-lg: 24px;
$mp-margin-xl: 32px;
$mp-margin-xxl: 48px;
$mp-box-shadow:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$mp-box-shadow-secondary:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$mp-box-shadow-tertiary:
  0 1px 2px 0 rgba(0, 0, 0, 0.03),
  0 1px 6px -1px rgba(0, 0, 0, 0.02),
  0 2px 4px 0 rgba(0, 0, 0, 0.02);
$mp-box-shadow-popover-arrow: 2px 2px 5px rgba(0, 0, 0, 0.05);
$mp-box-shadow-card:
  0 1px 2px -2px rgba(0, 0, 0, 0.16),
  0 3px 6px 0 rgba(0, 0, 0, 0.12),
  0 5px 12px 4px rgba(0, 0, 0, 0.09);
$mp-box-shadow-drawer-right:
  -6px 0 16px 0 rgba(0, 0, 0, 0.08),
  -3px 0 6px -4px rgba(0, 0, 0, 0.12),
  -9px 0 28px 8px rgba(0, 0, 0, 0.05);
$mp-box-shadow-drawer-left:
  6px 0 16px 0 rgba(0, 0, 0, 0.08),
  3px 0 6px -4px rgba(0, 0, 0, 0.12),
  9px 0 28px 8px rgba(0, 0, 0, 0.05);
$mp-box-shadow-drawer-up:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);
$mp-box-shadow-drawer-down:
  0 -6px 16px 0 rgba(0, 0, 0, 0.08),
  0 -3px 6px -4px rgba(0, 0, 0, 0.12),
  0 -9px 28px 8px rgba(0, 0, 0, 0.05);
$mp-box-shadow-tabs-overflow-left: inset 10px 0 8px -8px rgba(0, 0, 0, 0.08);
$mp-box-shadow-tabs-overflow-right: inset -10px 0 8px -8px rgba(0, 0, 0, 0.08);
$mp-box-shadow-tabs-overflow-top: inset 0 10px 8px -8px rgba(0, 0, 0, 0.08);
$mp-box-shadow-tabs-overflow-bottom: inset 0 -10px 8px -8px rgba(0, 0, 0, 0.08);

$mp-select-internal_fixed_item_margin: 2px;
$mp-select-z-index-popup: 1050;
$mp-select-option-selected-color: rgba(0, 0, 0, 0.88);
$mp-select-option-selected-font-weight: 600;
$mp-select-option-selected-bg: #e6f4ff;
$mp-select-option-active-bg: rgba(0, 0, 0, 0.04);
$mp-select-option-padding: 5px 12px;
$mp-select-option-font-size: 14px;
$mp-select-option-line-height: 1.5714285714285714;
$mp-select-option-height: 32px;
$mp-select-selector-bg: #ffffff;
$mp-select-clear-bg: #ffffff;
$mp-select-single-item-height-lg: 40px;
$mp-select-multiple-item-bg: rgba(0, 0, 0, 0.06);
$mp-select-multiple-item-border-color: transparent;
$mp-select-multiple-item-height: 24px;
$mp-select-multiple-item-height-sm: 16px;
$mp-select-multiple-item-height-lg: 32px;
$mp-select-multiple-selector-bg-disabled: rgba(0, 0, 0, 0.04);
$mp-select-multiple-item-color-disabled: rgba(0, 0, 0, 0.25);
$mp-select-multiple-item-border-color-disabled: transparent;
$mp-select-show-arrow-padding-inline-end: 18px;
